/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #56963a;
  --ion-color-primary-rgb: 86,150,58;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #264831;
  --ion-color-primary-tint: #4c912d;

  /** secondary **/
  --ion-color-secondary: #56963a;
  --ion-color-secondary-rgb: 86,150,58;
  --ion-color-secondary-contrast: #E8F1EB;
  --ion-color-secondary-contrast-rgb: 232,241,235;
  --ion-color-secondary-shade: #264831;
  --ion-color-secondary-tint: #4c912d;

  /** tertiary **/
  --ion-color-tertiary: #D6D5EF;
  --ion-color-tertiary-rgb: 214,213,239;
  --ion-color-tertiary-contrast: rgb(37, 13, 91);
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #bcbbd2;
  --ion-color-tertiary-tint: #dad9f1;

  /** success **/
  --ion-color-success: #E8F1EB;
  --ion-color-success-rgb: 232,241,235;
  --ion-color-success-contrast: #264831;
  --ion-color-success-contrast-rgb: 38,72,49;
  --ion-color-success-shade: #cfd9d2;
  --ion-color-success-tint: #ccf7db;

  /** warning **/
  --ion-color-warning: #d1911a;
  --ion-color-warning-rgb: 254,210,18;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0b910;
  --ion-color-warning-tint: #eaa72b;

  /** danger **/
  --ion-color-danger: #EF291D;
  --ion-color-danger-rgb: 239,41,29;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d2241a;
  --ion-color-danger-tint: #f13e34;

  /** dark **/
  --ion-color-dark: rgb(38, 72, 49);
  --ion-color-dark-rgb: 38,72,49;
  --ion-color-dark-contrast: #e8f1eb;
  --ion-color-dark-contrast-rgb: 226,226,225;
  --ion-color-dark-shade: rgb(20, 45, 28);
  --ion-color-dark-tint: rgb(22, 98, 47);

  /** medium **/
  --ion-color-medium: #B2BED5;
  --ion-color-medium-rgb: 178,190,213;
  --ion-color-medium-contrast: rgb(37, 13, 91);
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #9da7bb;
  --ion-color-medium-tint: #bac5d9;

  /** light **/
  --ion-color-light: #F7F7FA;
  --ion-color-light-rgb: 247,247,250;
  --ion-color-light-contrast: rgb(37, 13, 91);
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d9d9dc;
  --ion-color-light-tint: #f8f8fb;

}
