<ion-content padding class="animated fadeIn login auth-page">
  <video autoplay loop muted class="video-bg" playsinline webkit-playsinline>
    <source src="assets/video/footage-CCU2.mp4" type='video/mp4; codecs="h.264"'>
    <source src="assets/video/footage-CCU2.webm" type="video/webm">
  </video>

  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light">
          {{ 'app.name' | translate }}
          <ion-text color="secondary" class="fw700"> {{ 'app.version' | translate }}</ion-text>
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          {{ 'app.label.email' | translate }}
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="danger">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="journal" item-start></ion-icon>
          {{ 'app.label.password' | translate }}
        </ion-label>
        <ion-input color="secondary"  formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="danger">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
        </p>
    </form>

    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="tertiary">
        <strong>{{ 'app.pages.login.label.paraque' | translate }}</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="goToHome()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        {{ 'app.button.signin' | translate }}
      </ion-button>
