<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">


    <ion-title>
      <ion-text color="light">
<!-- [placeholder]="translate.get('userlist.search')" -->
<!-- {{ 'app.name' | translate }} -->
        {{ 'app.name' | translate }} <ion-text color="secondary" class="fw700"> {{ 'app.version' | translate }}</ion-text>
      </ion-text>
    </ion-title>

  
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn fast">
    <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">

  <div class="booking-card bg-dark">
    <ion-card class="searchcard animated fadeIn">
      <ion-card-content no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="12" class="br bb datetime-btn" text-center>
              <ion-item no-padding text-center>
                <ion-label position="stacked" class="fw700 text-primary">
                  <ion-icon name="calendar" slot="start" class="text-dark"></ion-icon>
                  <ion-text color="dark">{{ 'app.pages.home.label.fechacuasi' | translate }}</ion-text>
                </ion-label>
                <ion-datetime no-padding no-margin class="text-primary" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="YYYY-MM-DD HH:mm"  formControlName="fechacuasi"></ion-datetime>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content>

        <ion-row class="adjust-qts">
          <ion-col size="12" class="br bb bl bt" no-padding>
              <ion-item>
                <ion-label class="text08" no-padding>
                    <ion-text color="dark">{{ 'app.pages.home.label.unidad' | translate }}</ion-text>
                </ion-label>
                <ion-select cancelText="Cancel" okText="OK" color="primary" no-padding class="text1 text-dark" formControlName="equipo">

                    <ion-select-option *ngFor="let equipo of equipos" [value]="equipo._id" >{{equipo.equipo}}</ion-select-option>

                </ion-select>
              </ion-item>
          </ion-col>

          <ion-col size="6" no-padding>

          </ion-col>
        </ion-row>

        <ion-row class="adjust-qts">
          <ion-col size="12" class="br bb bl bt" no-padding>
              <ion-item>
                <ion-label class="text08" no-padding>
                    <ion-text color="dark">{{ 'app.pages.home.label.area' | translate }}</ion-text>
                </ion-label>
                <ion-select cancelText="Cancel" okText="OK" color="primary" no-padding class="text1 text-dark" formControlName="area">

                    <ion-select-option *ngFor="let area of areas" [value]="area._id" >{{area.area}}</ion-select-option>

                </ion-select>
              </ion-item>
          </ion-col>

          <ion-col size="6" no-padding>

          </ion-col>
        </ion-row>



        <ion-row class="adjust-qts">
          <ion-col size="12" class="bb bt br bl" no-padding margin-top margin-bottom>

              <ion-item>
                
                <ion-textarea placeholder="Describa lo ocurrido máx 144 caracteres" formControlName="describa" no-padding class="text08 text-dark"></ion-textarea>                         
              </ion-item>

          </ion-col>
        </ion-row>

        <ion-row class="adjust-qts">

          <ion-col size="12" class="br bb bl bt" no-padding>
              <ion-item>
                <ion-label class="text08" no-padding>
                    <ion-text color="dark">{{ 'app.pages.home.label.accioninmediata' | translate }}</ion-text>
                </ion-label>
                <ion-toggle formControlName="accion"
                color="primary"  class="text1 text-dark" ></ion-toggle>

              </ion-item>
          </ion-col>

        </ion-row>

        <ion-row class="adjust-qts">


          <ion-col size="12" class="br bb bl bt" >
              <ion-item>
                <ion-label class="text08" no-padding>
                    <ion-text color="dark">{{ 'app.pages.home.label.notificoinmediato' | translate }}</ion-text>
                </ion-label>
                <ion-toggle formControlName="informo"
                color="primary" class="text1 text-dark" ></ion-toggle>

              </ion-item>
          </ion-col>

        </ion-row>


        <ion-row class="adjust-qts">
          <ion-col size="12" class="bb bt br bl" >

              <ion-item>
                <ion-label class="text-primary text08" no-padding no-margin>
                  <ion-text color="dark">{{ 'app.pages.home.label.tipotrabajador' | translate }}</ion-text>
                </ion-label>
                <ion-select multiple="false" cancelText="Cancel" okText="OK" no-padding class="text08 text-dark" formControlName="tipotrabajador">
                  <ion-select-option value="ccu" selected="true">Trabajador CCU</ion-select-option>
                  <ion-select-option value="contratista">Contratista</ion-select-option>
                </ion-select>
              </ion-item>

          </ion-col>
        </ion-row>

      </ion-card-content>

    </ion-card>

    <ion-button shape="round" expand="full" color="dark" type="submit" [disabled]="!productForm.valid">
      <ion-icon slot="start" name="warning"></ion-icon> {{ 'app.pages.home.button.submit' | translate }}
    </ion-button>
  


  </div>
  <!-- ## -->
  <!-- ## -->
  <!-- <popmenu></popmenu> -->

</form>

</ion-content>
